<div class="wrapper">
<h1>{{ shop.name }}</h1>

{% for collection in collections limit:6 %}

  <h2><a href="{{ collection.url }}">{{ collection.title }}</a></h2>

  <div class="grid">

  {% for product in collection.products %}

    <div class="grid__col s-1-2 m-1-3 l-1-4">

      <a href="{{ product.url | within: collection }}" class="grid__image">
        <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
      </a>

      <p class="h6">
        <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
      </p>

    </div>
  {% endfor %}

  </div>

{% endfor %}
</div>
<!-- ./wrapper -->
