<!-- /templates/customers/addressess.liquid -->
{% comment %}

  Template note:
    - There are instances of inline JS below. Best practices advise separating this
      into an external JS file
    - There are separate 'add new' and 'edit' address forms

{% endcomment %}

{% paginate customer.addresses by 6 %}

<div class="wrapper">

  {% include 'breadcrumb' %}

</div>

<section class="section">

	<div class="wrapper">

		<div class="grid grid--align-bottom">
			<div class="grid__col m-2-3">
				<h1 class="title title--headline typo-nopad">Your addresses</h1>
			</div>
			<div class="grid__col m-1-3">
				<a href="#AddAddress" class="cta fr" data-modal-target="modal-new-address">Add a new address</a>
			</div>
		</div>

	<hr>


    {% comment %}
      List all customer addresses with a unique edit form.
      Also add pagination in case they have a large number of addresses
    {% endcomment %}
    <div class="grid grid--flex grid--spaced">
    {% for address in customer.addresses %}

      <div class="grid__col grid__col--flex-col m-1-3 xl-1-4">

	      <div class="address-block panel">
	        <h2 class="title"> {{ address.first_name | capitalize }} {{ address.last_name | capitalize }} <sup class="title--sub">{% if address == customer.default_address %}(Default){% endif %}</span></sup></h2>

							<p>
								{% unless address.company == '' %}
								{{ address.company}}<br>
								{% endunless %}
								{{ address.street  | replace: ',' , '<br>'  }}<br>
								{{ address.city | capitalize }}<br>
								{% if address.province_code %}
								{{ address.province_code | upcase }}<br>
								{% endif %}
								{{ address.zip | upcase }}<br>
								{{ address.country }}</p>
								{% unless address.phone == '' %}
								<p>Tel:  {{ address.phone }}</p>
								{% endunless %}
							</p>

							<p class="address-edit-links nojs-hide">

								<button class="link-btn" data-modal-target="modal-edit-address-{{address.id}}">Edit</button> |
									{{ 'Delete' | delete_customer_address_link: address.id }}
							</p>

			    </div>

				</div>

    {% endfor %}

			</div>

			{% if paginate.pages > 1 %}

			<hr>

			<div class="pagination">
				{{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
			</div>

			{% endif %}

		</div>

</section>

{% endpaginate %}
