<div class="js-parsley-validate form">

{% form 'activate_customer_password' %}

  {% if form.errors %}
  <div class="msg-box msg-box--negative">
    {{ form.errors | default_errors }}
  </div>
  {% endif %}

  <h1 class="title title--sub">{{ settings.text_activate_title }}</h1>

  <p>{{ settings.text_activate_text }}</p>

  <div class="form__row">
    <label for="CustomerPassword" class="form__label">{{ settings.form_password_label }}</label>
    <input type="password" data-parsley-required-message="{{settings.form_error_password_required}}" value="" name="customer[password]" id="CustomerPassword" class="form__field" placeholder="password" required>
  </div>

  <div class="form__row">
    <label for="CustomerPasswordConfirmation" class="form__label">{{ settings.form_confirmpassword_label }}</label>
    <input type="password" data-parsley-required-message="{{settings.form_error_password_required}}" value="" name="customer[password_confirmation]" id="CustomerPasswordConfirmation" class="form__field" placeholder="password" data-parsley-equalto='#CustomerPassword' required>
  </div>

  <div class="form__row">
    <input type="submit" class="btn btn--primary fr" value="{{ settings.form_activate_btn_text }}">
    <input type="submit" class="btn btn--secondary fl" name="decline" value="{{ settings.form_cancel_btn }}">
  </div>

{% endform %}

</div>
