{% comment %}
  List out your main-menu linklist (default)

  More info on linklists:
    - http://docs.shopify.com/themes/liquid-variables/linklists
{% endcomment %}
<!-- begin site-nav -->

<nav class="nav nav--primary" id="nav">

  <div class="wrapper">
    <ul class="nav__list">
      {% for link in linklists.main-menu.links %}
        {% comment %}
          Create a dropdown menu by naming a linklist the same as a link in the parent nav

          More info on dropdowns:
            - http://docs.shopify.com/manual/your-website/navigation/create-drop-down-menu
        {% endcomment %}
        {% assign child_list_handle = link.title | handleize %}
        {% if linklists[child_list_handle].links != blank %}
          <li class="nav__item nav-item--has-dropdown{% if link.active %} nav__item--active{% endif %}" aria-haspopup="true">
            <a href="{{ link.url }}" class="nav__link">
              {{ link.title }}
              <span class="icon icon-arrow-down" aria-hidden="true"></span>
            </a>
            <ul class="nav-item__dropdown">
              {% for childlink in linklists[child_list_handle].links %}
                <li{% if childlink.active %} class="site-nav--active"{% endif %}>
                  <a href="{{ childlink.url }}" class="nav__link">{{ childlink.title | escape }}</a>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% else %}
          <li class="nav__item{% if link.active %} nav__item--active{% endif %}">
            <a href="{{ link.url }}" class="nav__link">{{ link.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
  </div>
</nav>
<!-- //site-nav -->
