{% for option in product.options %}

  {% if option == swatch %}

    <div class="swatch__wrapper">

      {% assign option_index = forloop.index0 %}

      {% assign displayed_option_values = '' %}

      <h3 class="title title--sub">{{ option }}</h3>
				{% comment %}
				{% if option == 'Size' or option == 'size' %}<a href="" class="size-guide-link">Size guide</a>{% endif %}
				{% endcomment %}

				<ol class="swatch__list">
      {% for variant in product.variants %}

        {% assign option_value = variant.options[option_index] %}

        {% unless displayed_option_values contains option_value %}
          {% if option == 'Color' or option == 'Colour' or option == 'color' or option == 'colour' %}

							<li class="swatch__item">
            <button type="button" class="btn btn--swatch{% unless variant.available %} is-disabled{% endunless %}" data-change-option="{{ option_index }}" data-change-value="{{ option_value }}">
              <span class="swatch" style="background-color: {{ option_value | handleize }};"></span>
              {{ option_value }}</button>
							</li>
							{% else %}
							<li class="swatch__item">
								<button type="button" data-change-option="{{ option_index }}" data-change-value="{{ option_value }}" class="btn btn--swatch{% unless variant.available %} is-disabled{% endunless %}">

              {{ option_value }}

            </button>
							</li>

          {% endif %}

          {% assign displayed_option_values = displayed_option_values | join: ',' %}

          {% assign displayed_option_values = displayed_option_values | append: ',' | append: option_value %}

          {% assign displayed_option_values = displayed_option_values | split: ',' %}

        {% endunless %}

      {% endfor %}
				</ol>

    </div>

  {% endif %}

{% endfor %}
